html {
	height: 100%;
}
body {
	height: 100%;
	overflow: hidden;
	background-color: lightgray;
	margin: 0;
	padding: 0;
	font-family: arial bold;
}
object {
	float: right;
	width: 93%;
	height: 100%;
	position: absolute;
	box-shadow: inset 1px -1px 28px -8px rgba(0,0,0,0.75);
}
a {
	color: black;
	text-decoration-color: black;
}
h1 {
	text-decoration-line: underline;
	font-weight: bold;
}
.pic1 {
	position: absolute;
	height: 45%;
	margin-left: 1%;
}
.pic2 {
	position: absolute;
	margin-left: 81%; 
	height: 45%;
}
.txt {
	width: 60%;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 24px;
}
.home {
	height: 45%;
	border-radius: 5px;
	margin-bottom: 1%;
	background-color: lightgray;
	border: 1px solid black;
	-webkit-box-shadow: 1px 2px 58px -10px rgba(0,0,0,0.59);
	-moz-box-shadow: 1px 2px 58px -10px rgba(0,0,0,0.59);
	box-shadow: 1px 2px 58px -10px rgba(0,0,0,0.59);
}
.obj {
	height: 35%;
	margin-top: 3%;
	margin-right: 3.35%;
	margin-left: 3.35%;
}
.txtMobile {
	margin-top: 5%;
	font-size: 15px;
}
.homeMobile {
	height: 45%;
	border-radius: 5px;
	margin-left: 3.35%;
	margin-right: 3.35%;
	margin-bottom: 1%;
	background-color: lightgray;
	border: 1px solid black;
	-webkit-box-shadow: 1px 2px 58px -10px rgba(0,0,0,0.59);
	-moz-box-shadow: 1px 2px 58px -10px rgba(0,0,0,0.59);
	box-shadow: 1px 2px 58px -10px rgba(0,0,0,0.59);
}
.objMobile {
	height: 45%;
	margin-top: 3%;
}
.mobile {
	width: 100%;
	height: 100%;
}
.openBtn {
	position: absolute;
	vertical-align: middle;
	z-index: 1;
	border-radius: 0px 5px 5px 0px;
	height: 100%;	
	float: left;
	width: 7%;
	font-size: 18px;
	border: 1px solid black;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.75);
	font-weight: bold;
	text-decoration: none;
	background-color: lightgrey;
}
.pdf {
	background-color: lightgrey;
	float: right;
	display: inline-block;
	height: 100%;
	width: 93%;
}
.navBar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 1;
	left: 0;
	background-color: lightgray;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.75);
}
.navBar a {
	font-weight: bold;
	padding: 3% 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
	transition: 0.3s;
}
.navBar a:hover {
	color: grey;
}
.navBar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.popup {
	text-decoration-color: black;
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*overflow: auto;*/
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.popup_content {
	text-decoration: none;
	background-color: lightgray;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
	width: 33%;
}
.popup_content a {
	text-decoration: none;
}
.closePopup {
	color: black;
	float: right;
	font-size: 36px;
	font-weight: bold;
}
.closePopup:hover,
.closePopup:focus {
	color: grey;
	text-decoration: none;
	cursor: pointer;
}

