html {
	height: 100%;
}
body {
	height: 100%;
	overflow: hidden;
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: arial bold;
}
object {
	float: right;
	width: 93%;
	height: 100%;
	position: absolute;
	box-shadow: inset 1px -1px 28px -8px rgba(0,0,0,0.75);
}
a {
	color: black;
	text-decoration-color: black;
}
h2 {
	text-decoration-line: underline;
	font-weight: bold;
}
.txt {
	width: 60%;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 1.75vmax;
	padding: 5px;
	overflow-y: auto;
}
.home {
	height: 45%;
	border-radius: 5px;
	margin-bottom: 1%;
	background-color: white;
	border: 1px solid lightgrey;
	-webkit-box-shadow: 4px 4px 23px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 4px 4px 23px 0px rgba(0,0,0,0.45);
	box-shadow: 4px 4px 23px 0px rgba(0,0,0,0.45);
}
.obj {
	background-color: white;
	height: 35%;
	margin-top: 3%;
	margin-right: 3.35%;
	margin-left: 3.35%;
}
.txtMobile {
	margin-top: 5%;
	font-size: 2.6vmax;
	padding: 5px;
	overflow-y: auto;
}
.homeMobile {
	height: 45%;
	border-radius: 5px;
	margin-left: 3.35%;
	margin-right: 3.35%;
	margin-bottom: 1%;
	background-color: white;
	border: 1px solid lightgrey;
	-webkit-box-shadow: 4px 4px 23px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 4px 4px 23px 0px rgba(0,0,0,0.45);
	box-shadow: 4px 4px 23px 0px rgba(0,0,0,0.45);
}
.objMobile {
	height: 45%;
	margin-top: 3%;
}
.mobile {
	width: 100%;
	height: 100%;
}
.openBtn {
	position: absolute;
	vertical-align: middle;
	z-index: 1;
	border-radius: 0px 5px 5px 0px;
	height: 100%;	
	float: left;
	width: 7%;
	font-size: 1.75vmax;
	border: 1px solid lightgrey;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.75);
	font-weight: bold;
	text-decoration: none;
	background-color: white;
}
.pdf {
	background-color: white;
	float: right;
	display: inline-block;
	height: 100%;
	width: 93%;
}
.navBar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 1;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.75);
	top: 0;
	right: 25px;
}
.navBar a {
	font-weight: bold;
	color: black;
	text-decoration: none;
	display: block;
}
.navBarText a {
	padding: 3% 8px 8px 32px;
	font-size: 25px;
	transition: 0.3s;
}
.navBarText a:hover {
	color: grey;
	cursor: pointer;
}
.navBarText .a2{
  color: grey;
}
.closebtn {
	position: absolute;
	font-size: 48px;
	font-weight: bold;
	margin-left: 81%;
	top: -1%;
	padding: 8px 8px 8px 8px;
}
.closebtn:hover,
.closebtn:focus {
	color: grey;
	text-decoration: none;
	cursor: pointer;
}
.popup {
	text-decoration-color: black;
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*overflow: auto;*/
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.popup_content {
	text-decoration: none;
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 33%;
}
.popup_content a {
	text-decoration: none;
}
.closePopup {
	color: black;
	float: right;
	font-size: 48px;
	font-weight: bold;
}
.closePopup:hover,
.closePopup:focus {
	color: grey;
	text-decoration: none;
	cursor: pointer;
}
.list {
	position: absolute;
	top: 2%;
	left: 0;
}
