html {
	height: 100%;
}
body {
	height: 100%;
	overflow: hidden;
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: arial bold;
}
object {
	float: right;
	width: 93%;
	height: 100%;
	position: absolute;
	box-shadow: inset 1px -1px 28px -8px rgba(0,0,0,0.3);
}
a {
	color: black;
	text-decoration-color: black;
}
h2 {
	text-decoration-line: underline;
	font-weight: bold;
}
.txt {
	width: 60%;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 1.75vmax;
	padding: 5px;
	overflow-y: auto;
	z-index: 2;
}
.home {
	height: 45%;
	border-radius: 5px;
	margin-bottom: 1%;
	background-color: white;
	border: 1px solid lightgrey;
	-webkit-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
	box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
}
.obj {
	background-color: white;
	height: 35%;
	margin-top: 3%;
	margin-right: 3.35%;
	margin-left: 3.35%;
	z-index: 2;
}
.txtMobile {
	top: 1%;
	font-size: 2.6vmax;
	padding: 5px;
	overflow-y: auto;
}
.homeMobile {
	position: absolute;
	height: 47%;
	border-radius: 5px;
	margin-left: 3.35%;
	margin-right: 3.35%;
	background-color: white;
	border: 1px solid lightgrey;
	-webkit-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
	box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
}
.objMobile {
	bottom: 1%;
	height: 47%;
}
.mobile {
	width: 100%;
	height: 100%;
}
.openBtn {
	position: absolute;
	vertical-align: middle;
	z-index: 1;
	border-radius: 0px 5px 5px 0px;
	height: 100%;	
	float: left;
	width: 7%;
	font-size: 1.75vmax;
	border: 1px solid lightgrey;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.4);
	font-weight: bold;
	text-decoration: none;
	background-color: white;
}
.pdf {
	background-color: white;
	float: right;
	display: inline-block;
	height: 100%;
	width: 93%;
}
.navBar {
	font-family: arial;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 1;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.4);
}
.navBar a {
	z-index: 2;
	font-weight: bold;
	padding: 3px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
	transition: 0.3s;
}
.navBar a:hover {
	color: grey;
}
.navBar .a2{
  color: grey;
}
#navBarFull {
	z-index: 3;
	heigth: 100%;
	width: 93%;
	margin-left: 7%;
}
.list {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 85%;
	width: 100%;
	float: left;
}
.closebtn {
	float: right;
	transition: 0.3s;
	height: 30px;
	width: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 3;
}
.closebtn:hover,
.closebtn:focus
.cross:hover {
	cursor: pointer;
}
.popup {
	text-decoration-color: black;
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*overflow: auto;*/
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.65);
}
.popup_content {
	font-size: 20px;
	text-decoration: none;
	background-color: white;
	margin: 12% auto;
	padding: 10px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	width: 50%;
	height: 50%;
}
.popup_content a {
	text-decoration: none;
}
.popupSumm {
	float: left;
	min-width: 60%;
	max-width: 60%;
	height: 100%;
}
.popupContentInner {
	width: 90%;
	max-height: 95%;
	overflow-x: hidden;
	overflow-y: auto;
}
.closePopup {
	z-index: 5;
	top: -5;
	color: black;
	font-size: 36px;
	font-weight: bold;
}
.cross {
	float: right;
	z-index: 5;
	height: 25px;
	width: 25px;
}
.closePopup:hover,
.closePopup:focus {
	color: grey;
	text-decoration: none;
	cursor: pointer;
}
.list {
	position: absolute;
	top: 2%;
	left: 0;
}
.hline {
	width: 100%;
	height: 1px;
	background: gray;
}
.chooseModule {
	
}
img {
	float: right;
}
