html {
	height: 100%;
}
body {
	background-color: lightgray;
	margin: 0;
	padding: 0;
	font-family: arial bold;
}
object {
	float: right;
	width: 93%;
	height: 100%;
	position: absolute;
	box-shadow: inset 1px -1px 28px -8px rgba(0,0,0,0.75);
}
a {
	color: black;
	text-decoration-color: black;
}
h1 {
	text-decoration-line: underline;
	font-weight: bold;
}
.home {
	display: block;
	min-height:40%;
	border-radius: 3px;
	margin: 2%;
	margin-top: 5%;
	background-color: lightgray;
	border: 1px solid black;
	-webkit-box-shadow: 1px 2px 58px -10px rgba(0,0,0,0.59);
	-moz-box-shadow: 1px 2px 58px -10px rgba(0,0,0,0.59);
	box-shadow: 1px 2px 58px -10px rgba(0,0,0,0.59);
}
.home2 {
	height: 50%;
}
.mobile {
	width: 100%;
	height: 100%;
}
.header {
	text-align: center;
	text-decoration-line: underline;
}
.home_text {
	margin-right: 10%;
	margin-left: 10%;
}
.openBtn {
	position: absolute;
	vertical-align: middle;
	z-index: 1;
	border-radius: 0px 3px 3px 0px;
	height: 100%;	
	float: left;
	width: 7%;
	font-size: 18px;
	border: 1px solid black;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.75);
	font-weight: bold;
	text-decoration: none;
	background-color: lightgrey;
}
.pdf {
	background-color: lightgrey;
	float: right;
	display: inline-block;
	height: 100%;
	width: 93%;
}
.navBar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 1;
	left: 0;
	background-color: lightgray;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.75);
}
.navBar a {
	font-weight: bold;
	padding: 3% 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
	transition: 0.3s;
}
.navBar a:hover {
	color: grey;
}
.navBar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.popup {
	text-decoration-color: black;
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*overflow: auto;*/
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.popup_content {
	text-decoration: none;
	background-color: lightgray;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
	width: 33%;
}
.popup_content a {
	text-decoration: none;
}
.closePopup {
	color: black;
	float: right;
	font-size: 36px;
	font-weight: bold;
}
.closePopup:hover,
.closePopup:focus {
	color: grey;
	text-decoration: none;
	cursor: pointer;
}
#homescreen {
	font-family: Comic Sans MS;
	border-radius: 20px;
	border-color: grey;
	background-color: grey;
	margin-top: 2.25%;
	height: 90%;
	width: 70%;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.75);
	float: right;
	position: absolute;
	margin-left: 15%;
}
.abdel {
	border-radius: 25%;
}
.finger {
	margin-top: 10%;
}
.cool {
	float: right;
	margin-right: 10%;
}
#homescreen2 {
	margin-left: 5%;
	float: left;
}
#homescreen3 {
	float: right;
}
