html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: helvetica bold;
}
 
 
 
 
 
 
.openBtn {
	position: absolute;
	vertical-align: middle;
	z-index: 1;
	border-radius: 3px;
	height: 100%;	
	float: left;
	width: 7%;
	font-size: 20px;
	border: 3px solid black;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.75);
	font-weight: bold;
	text-decoration: none;
}
.pdf {
	background-color: lightgrey;
	float: right;
	display: inline-block;
	height: 100%;
	width: 93%;
}
.navBar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 1;
	left: 0;
	background-color: lightgray;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.75);
}
.navBar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
	transition: 0.3s;
}
.navBar a:hover {
	color: grey;
}
.navBar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.popupWisk {
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.popupWisk_content {
	background-color: lightgray;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid black;
	width: 60%;
}
.closePopup {
	color: black;
	float: right;
	font-size: 36px;
	font-weight: bold;
}
.closePopup:hover,
.closePopup:focus {
	color: grey;
	text-decoration: none;
	cursor: pointer;
}
