html {
	height: 100%;
}
body {
	height: 100%;
	overflow: hidden;
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: arial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
object {
	float: right;
	width: 93%;
	height: 100%;
	box-shadow: inset 1px -1px 28px -8px rgba(0,0,0,0.3);
}
a {
	color: black;
	text-decoration-color: black;
}
h2 {
	text-decoration-line: underline;
	font-weight: bold;
}
img:hover {
	cursor: pointer;
}
.txt {
	height: 45%;
	width: 91%;
	font-size: 1.5rem;
	padding-left: 1%;
	padding-right: 1%;
	overflow-y: auto;
	position: absolute;
	border-radius: 1px;
	top: 3%;
	margin-left: 3.35%;
	margin-right: 3.35%;
	background-color: white;
	border: 1px solid lightgrey;
	-webkit-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
	box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
}
.txt p {
	text-align: center;
}
.txt h2 {
	text-align: center;
}
.home {
	z-index: 1;
	top: 10%;
	overflow: hidden;
	height: 90%;
	width: 100%;
	position: absolute;
}
.obj {
	bottom: 2%;
	height: 45%;
	width: 93%;
	text-align: left;
	overflow-y: auto;
	position: absolute;
	border-radius: 1px;
	margin-left: 3.35%;
	margin-right: 3.35%;
	background-color: white;
	border: 1px solid lightgrey;
	-webkit-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
	box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.06);
}
#loading {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	height: 120px;
	z-index: 0;
}
.mobile {
	width: 100%;
	height: 100%;
}
.titel,
.titel_popup {
 	color: #C70450;
	font-weight: bold;
}
.titel_popup {
	font-size: 25px;
	padding: 0;
	margin: 0;
}
.changeText {
  margin-left: 3%;
}
.nav {
	display: flex;
	position: absolute;
	top: 0;
	z-index: 3;
	height: 10%;
    width: 100%;	
	font-size: 1.75vmax;
	box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.4);
	font-weight: bold;
	text-decoration: none;
	background-color: #C70450;
	overflow: auto;
	white-space: nowrap;
	color: white;
	text-align: left;
	transition: 0.5s;
}
.a_nav {
	display: flex;
	float: left;
	font-size: 1rem;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 33.33333%;
 	color: white;
}
.a_nav_menu {
	width: 10%;
}
.a_nav_menu:hover {
 	cursor: pointer;
 	background-color: rgba(0,0,0,0.2);
 	transition: 0.3s;
}
.m1:hover,
.m2:hover,
.m3:hover,
.m4:hover,
.m5:hover,
.m6:hover {
 	cursor: pointer;
 	background-color: rgba(0,0,0,0.2);
 	transition: 0.3s;
}
.homeAll {
    position: absolute;
	background-color: white;
	height: 100%;
	width: 100%;
}
.pdf {
	width: 100%;
	height: 90%;
	position: absolute;
	top: 10%;
	z-index: 0;
}
.openTopNav {
	width: 85%;
	left: 0;
	height: 10%;
	top: 0;
	position: absolute;
	z-index: 2;
	background-color: rgba(0,0,0,0.002);
}
.navBar {
	font-family: arial;
	height: 100%;
	width: 275px;
	position: fixed;
	z-index: 5;
	top: 1;
	left: -275px;
	background-color: white;
	overflow: hidden;
	font-size: 2vmax;
	/*box-shadow: 9px 1px 56px -20px rgba(0,0,0,0.4);*/
}
.dl {
	float: right;
	width: 20px;
	height: 20px;
}
.navBar a {
	z-index: 5;
	font-weight: bold;
	padding: 3px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
	transition: 0.3s;
}
.navBar p {
	margin: 0;
	margin-top: 10px;
	font-weight: bold;
	margin-left: 10px;
	font-size: 1.5rem;
	color: #C70450;
}
.navBar a:hover {	
	margin-left: 2.5%;
}
#navBarFull {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: 4;	
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.65);	
}
.list {
	position: absolute;
	top: 81px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: calc(100% - 81px);
	width: 100%;
	float: left;
}
.list1 {
	display: none;
}
.list2 {
	display: none;
}
.list3 {
	display: none;
}
.list4 {
	display: none;
}
.list5 { 
	display: none;
}
.list6 {
	display: block;
}
.closebtn {
	float: right;
	transition: 0.3s;
	height: 30px;
	width: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 6;
}
.closebtn:hover,
.closebtn:focus
.cross:hover {
	cursor: pointer;
}
.popup_content {
	display: none;
	z-index: 7;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	text-decoration: none;
	background-color: white;
	padding: 10px;
	border: 1px solid lightgrey;
	border-radius: 1px;
	width: 50%;
	height: 50%;
}
.popup_content a {
	text-decoration: none;
}
.popupSumm {
	float: left;
	min-width: 60%;
	max-width: 60%;
	height: 100%;
}
.popupContentInner {
	margin-top: 40px;
	width: 99.3%;
	max-height: 75%;
	overflow-x: hidden;
	overflow-y: auto;
}
.closePopup {
	z-index: 8;
	top: -5;
	color: black;
	font-size: 36px;
	font-weight: bold;
}
.cross {
	float: right;
	z-index: 8;
	height: 25px;
	width: 25px;
}
.closePopup:hover,
.closePopup:focus {
	color: grey;
	text-decoration: none;
	cursor: pointer;
}
.hline {
	width: 100%;
	height: 1px;
	background: #C70450;
}
.closeTab{
	width: 100%;
	height: 90%;
	position: absolute;
	bottom: 0;
	display: none;
	
}
#btnText {
	margin-left: 1%;
}
.icon {
	width: 23px;
	height: 23px;
	position: absolute;
	left: 0.4rem;
	margin-top: 0.3rem;
}
#closePopup {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	z-index: 6;
}
.summ {
	width: 90%;
}
#summSwipe {
	z-index: 2;
	height: 100%;
	width: 50px;
	float: left;
	position: absolute;
	display: none;
}
#kiesJaar {
	font-weight: bold;
	padding: 2px;
	width: 30%;
}
#kiesJaar option {
	padding: 2px;
}
.jaar {
	width: 100%;
	margin-bottom: 7px;
}
.jaar span {
	z-index: 5;
	font-weight: bold;
	padding: 3px 8px 8px 10px;
	margin-top: 2px;
	text-decoration: none;
	font-size: 25px;
	color: #C70450;
	transition: 0.3s;
	width: 25%;
}
/*
@media screen and (min-width: 500px){
	.txt {
		height: 95%;
		width: 45%;
		top: 2.5%;
		left: 2.5%;
		margin: 0;
	}
	.obj {
		height: 95%;
		width: 45%;
		bottom: 2.5%;
		right: 2.5%;
		margin: 0;
	}
}*/

@media (orientation: landscape) {
	.txt {
	 	font-size: 1.45vw;
		height: 45%;
		width: 45%;
		top: 2.5%;
		left: 2.5%;
		margin: 0;
	}
	.obj {
		height: 95%;
		width: 45%;
		bottom: 2.15%;
		right: 2.5%;
		margin: 0;
	}
}
#nav5de {
	display: none;
	position: absolute;
	right: 0;
	width: 90%;
	height: 100%;
}
#nav6de {
	position: absolute;
	right: 0;
	width: 90%;
	height: 100%;
}
.info {
	position: absolute;
	top: 0;
	width: 235px;
}