html {
	height: 100%;
}
body {
	height: 100%;
	overflow: hidden;
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: arial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.titelCORDA {
	text-align: center;
	color: #C70450;
	font-weight: bold;
	font-size: 200%;
	padding-left: 3%;
	padding-right: 3%;
}
#descFormDiv {
	display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
#descForm {
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}
.text {
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0;
	margin-top: 5%;
}
#top1 {
	width: 48%;
	margin-left: 2%;
	margin-top: 5px;
	float: left;
}
#top2 {
	width: 47%;
	margin-right: 3%;
	margin-top: 5px;
	float: right;
}
#topColor {
	width: 42%;
	height: 33px;
	margin-left: 29%;
	position: absolute;
	margin-top: 5%;
}
#MV {
	width: 100%;
	display: block;
	float: right;
	margin-right: 2%;
	margin-top: 0.5%;
}
#naam {
	width: 100%;
	display: block;
	float: left;
	margin-left: 2%;
}
#result {
	margin-top: 5%;
	text-align: center;
	padding-left: 3%;
	padding-right: 3%;
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #C70450;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #C70450;
    cursor: pointer;
}
#CORDACODE {
	overflow: hidden;
	width: 300%;
	height: 100%;
	margin-right: 0;
}
#screen1 {
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	transition: 0.3s;
}
#screen2 {
	width: 100%;
	height: 100%;
	position: absolute;
	margin-left: 100%;
	transition: 0.3s;
}
#screen3 {
	width: 100%;
	height: 100%;
	float: right;
	position: absolute;
	margin-left: 200%;
	transition: 0.3s;
}
.arrowNext {
	width: 5%;
	right: 25px;
	position: absolute;
	bottom: 25px;
}
.arrowPrevious{
	width: 5%;
	left: 25px;
	position: absolute;
	bottom: 25px;
}
#sliderHelp {
	color: red;
	text-align: center;
	margin-top: 5%;
}
.Teachers {
	position: absolute;
	width: 15%;
	margin-left: 42.5%;
	margin-top: 12.5%;
}
.Teachers2 {
	position: absolute;
	width: 15%;
	margin-left: 42.5%;
	margin-top: 7.5%;
}
#TeacherM {
	display: none;
}
#TeacherF {
	display: none;
}